<footer>
        <div class="f-info">
            <div class="f-info-socail">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-linkedin"></i>
            </div>
            <div class="f-info-brand"> &copy; InnVantage Private Limited</div>
            <div class="f-info-links">
                <a href="/Privacy">Privacy</a>
                <a href="/Terms">Terms</a>
            </div>
        </div>

</footer>